<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <% include partials/head.html %>
</head>

<body>
    <% include partials/navigation.html %>
    <div class="container p-5"><!--paddind de 5-->
        <div class="row">
            <div class="md-4 offset-md-4"><!--ocupa cuatro columnas y separado de cuatro-->
                <div class="card animated flipInY">
                    <div class="card-header bg-dark text-white text-center"><!--bg=background-->
                        <h3>Contacta me</h3>
                    </div>
                    <div class="card-body">
                        <div class="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="" id="" cols="30" rows="10"
                                    placeholder="Message"></textarea>
                            </div>
                            <div class="form-goup">
                                <button class="btn btn-primary btn-block"><!--btn-block para decir que ucupe todo espacio posible-->
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer.html %>
</body>

</html>