/*Aqui puedo usar tambien un preprocesador sass o less , en vez de stilos simples*/
/*Estilo importado desde uiGradients que te da muchos colores degradados*/
body {
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}